TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_IDS=
OPENAI_API_KEY=
PEXELS_API_KEY=
PIXABAY_API_KEY=
YOUTUBE_CLIENT_SECRETS=client_secrets.json
ENABLE_YOUTUBE_UPLOAD=False
DEMUCS_MODEL=htdemucs_ft
ENABLE_VISUALIZER=True
COLOR_OVERLAY=
OUTPUT_DIR=outputs
TEMP_DIR=temp